@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    background-color: #171717;
    color: white;
    font-family: "Itim", cursive;
    scroll-behavior: smooth;
}

@keyframes smoothScroll {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.resturantHead {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: smoothScroll 1s ease-out, fadeInUp 1s ease-out;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    font-size: 1.3rem;
    justify-content: space-around;
    align-items: center;
}

.resturantName h2 {
    padding: 0.6rem;
    color: white;
}

.resturantBackToHome {
    padding: 0.6rem;
}

.resturantBackToHome button {
    border-radius: 8px;
    background-color: #da592f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeInUp 2.5s ease-out;
}

.resturantNav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: smoothScroll 1s ease-out, fadeInUp 1s ease-out;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px 20px;
    font-size: 1.3rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(106, 106, 106, 0.1);
    color: white;
    margin-top: 1rem;
}

.resturantNav .navItems ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
    list-style: none;
}

.resturantNav .navItems li {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.resturantNav .navItems li a {
    text-decoration: none;
    color: white;
}

#cart_icon[data-quantity]::after {
    content: attr(data-quantity);
    background-color: white;
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 0.8rem;
}

.cart {
    min-height: 100vh;
    position: fixed;
    right: 1rem;
    top: 4rem;
    z-index: 0;
    display: flex;
    flex-direction: column;

}

.navItems button {
    border-radius: 8px;
    background-color: #da592f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeInUp 2.5s ease-out;
}

.navItems button:hover {
    background-color: white;
    color: #da592f;
    font-weight: bolder;
    transition: 0.18s ease-in;
}

.header {
    color: white;
}

.resturantBackToHome button:hover {
    background-color: white;
    color: #da592f;
    font-weight: bolder;
    transition: 0.18s ease-in;
}

.overViewContainer {
    display: flex;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    margin-top: 13rem;
    border-radius: 10px;
}

.overViewContainer .overViewContainers {
    padding: 1rem;
}

.overViewContainers .overViewMenu {
    padding: 0.6rem;
    font-size: 1.6rem;
}

.overViewCuisines button {
    color: rgb(159, 159, 159);
    font-weight: bolder;
    font-size: 1rem;
}

.overViewCuisines {
    padding: 0.6rem;
}

.overViewMenu h3 {
    color: #ef7a54;
    font-size: 2rem;
}

.overViewCuisines h4 {
    padding: 0.6rem;
    font-size: 1.3rem;
}

.overViewCuisines ul {
    display: flex;
    gap: 3rem;
    padding: 0.6rem;
    list-style: none;
}

.overViewCuisines ul li button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
}

#orderOnline {
    margin-top: 60px;
}

.foodTitle {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}


.berverages {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.foodTitle h3 {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.berverages img {
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

.berverages .coffee,
.tea,
.lemonJuice,
.watermelon,
.orangeJuice,
.pineApple {
    padding: 0.5rem 2rem;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 1);
    border-radius: 10px;
}

.berverages h4,
p {
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
}

.berverages .berveragesButton {
    text-align: center;
    padding: 0.3rem 1rem;
}

.berveragesButton button {
    text-align: center;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.berverages button {
    font-size: 1rem;
    font-weight: bolder;
    color: #ef7a54;
}

.berverages button:hover {
    text-decoration: underline;
}

.snacks {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.snacks img {
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

.snacks .samosa,
.vegPuff,
.eggPuff,
.breadRoast,
.lays,
.sandwich {
    padding: 0.5rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.snacks button {
    font-size: 1rem;
    font-weight: bolder;
    color: #ef7a54;
}

.snacks button:hover {
    text-decoration: underline;
}

.snacks h4,
p {
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
}

.snacks .snacksButton {
    text-align: center;
    padding: 0.3rem 1rem;
}

.snacksButton button {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.chinese {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.chinese img {
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

.chinese .vegFriedRice,
.vegNoodles,
.schezwanFriedRice,
.schezwanNoodles,
.gobiManchurian,
.paneer65 {
    padding: 0.5rem 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.chinese h4,
p {
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
}

.chinese .chineseButton {
    text-align: center;
    padding: 0.3rem 1rem;
}

.chineseButton button {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.chinese button {
    font-size: 1rem;
    font-weight: bolder;
    color: #ef7a54;
}

.chinese button:hover {
    text-decoration: underline;
}

.indian {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.indian img {
    padding: 0.3rem 1rem;
    border-radius: 2rem;
}

.indian .southMeals,
.vegBiryani,
.dalKichdi {
    padding: 0.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.indian h4,
p {
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
}

.indian .indianButton {
    text-align: center;
    padding: 0.3rem 1rem;
}

.indian button {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    color: #ef7a54;
    border: none;
    cursor: pointer;
}

.indian button:hover {
    text-decoration: underline;
}

#review {
    text-align: center;
    padding: 20px;
}

.review-slider {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.review-slide {
    display: none;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(160, 160, 160);
    margin: 10px auto;
}

.review-slide.active {
    display: block;
}

.slider-controls {
    margin-top: 10px;
    gap: 3rem;
}

#prevBtn {
    margin-right: 2rem;
}

.slider-controls button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #da592f;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeInUp 2.5s ease-out;
}

.review-slide strong {
    color: #da592f;
    font-weight: bold;
}

.p2 {
    color: rgb(143, 143, 143);
    font-weight: 300;
}

@media (max-width: 768px) {

    .berverages,
    .snacks,
    .chinese,
    .indian {
        flex-direction: column;
        align-items: center;
    }
}

* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 4rem;
}

h3 {
    padding: 0.3rem;
}

ul {
    list-style: none;
    cursor: pointer;
}

li {
    padding: 0.3rem;
    color: rgba(90, 88, 88, 0.897);
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .sub-footer {
        flex: 1 1 100%;
        text-align: center;
    }

    .resturantNav {
        display: none;
    }

    .resturantName h2 {
        font-size: 2rem;
    }

    .resturantBackToHome button {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .overViewContainer .overViewContainers {
        margin-top: -100px;
    }
}

.contact-us {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.head h3 {
    padding: 0.5rem;
}

.head p {
    padding: 0.5rem;
}


@media (max-width: 768px) {
    .contact-us {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}