<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error | Page Not Found</title>
    <link rel="stylesheet" href="stylesheets/404.css">
    <link rel="icon" href="/images/title.png" type="image/x-ico">
</head>

<body>
    <main>
        <div class="container">
            <h1>Error..!</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <p class="subtext">It might have been moved, or the URL is incorrect.</p>
            <div class="auth-buttons">
                <a href="home" class="btn home">Go to Home</a>
                <a href="contactus" class="btn contact">Contact Support</a>
            </div>
        </div>
    </main>
</body>

</html>