<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Global Delights</title>
    <link rel="icon" href="/images/title.png" type="image/x-ico">
    <link rel="stylesheet" href="stylesheets/aboutus.css">
</head>

<body>
    <div class="nav">
        <div class="nav-head">
            <h3><span>Learn More About</span> - Global Delights</h3>
        </div>
        <div class="btn">
            <button onclick="window.location.href='home'">Back To Home</button>
        </div>
    </div>

    <div class="about-us">
        <div class="about-section mt">
            <div class="img1">
                <img src="images/a1.jpg" alt="About Us">
            </div>
            <div class="para">
                <p>At Global Delights, we believe that dining is more than just a meal – it’s an experience.
                    Established in 2000, our journey began with a simple goal: to bring people together over delicious
                    food, warm hospitality, and a cozy ambiance.</p>
            </div>
        </div>
        <div class="hr"></div>
        <div class="about-section reverse">
            <div class="para">
                <p>Our menu is a celebration of flavors, crafted with the freshest ingredients sourced from trusted
                    local suppliers. Whether you're savoring our signature dishes or indulging in our chef's specials,
                    every bite reflects our commitment to quality and creativity.</p>
            </div>
            <div class="img2">
                <img src="images/a2.jpg" alt="About Us">
            </div>
        </div>
        <div class="hr"></div>

        <div class="about-section">
            <div class="img1">
                <img src="images/a3.jpg" alt="About Us">
            </div>
            <div class="para">
                <p>We take pride in our team of talented chefs and friendly staff who strive to make every visit
                    memorable. From intimate dinners to joyful celebrations, Don Bosco Delights is the perfect place to
                    create cherished moments.</p>
            </div>
        </div>
        <div class="hr"></div>
    </div>

    <div class="footer">
        <div class="sub-footer">
            <h3>Global Delights</h3>
        </div>
        <div class="sub-footer">
            <h3>Services</h3>
            <ul>
                <a href="">
                    <li>Order</li>
                </a>
                <a href="">
                    <li>Pricing</li>
                </a>
                <li>Fast Food</li>
                <a href="">
                    <li>Reserve your spot</li>
                </a>
            </ul>
        </div>
        <div class="sub-footer">
            <h3>Information</h3>
            <ul>
                <a href="contactus">
                    <li>Contact us</li>
                </a>
                <a href="contactus">
                    <li>Terms of Services</li>
                </a>
            </ul>
        </div>
        <div class="sub-footer">
            <h3>Address</h3>
            <ul>
                <li>Lima-Peru</li>
                <li>Jr Union #999</li>
                <li>999-888-777</li>
                <li>tastyfood@email.com</li>
            </ul>
        </div>
    </div>
    <script>
        window.onload = () => {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: "smooth"
            });
        };
    </script>
</body>

</html>