<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Delights</title>
    <link rel="icon" href="/images/title.png" type="image/x-ico">
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body>
    <header>
        <nav class="nav">
            <div class="hamburger-menu" id="hamburgerMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul id="menu">
                <div class="close-menu" id="closeMenu" style="display: none;">&times;</div>
                <li><a href="/home">Home</a></li>
                <li><a href="#order">About Us</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#menu-section">Order Now</a></li>
                <li><a href="#ctnt">Contact Us</a></li>
            </ul>
            <div class="auth-buttons">
                <form action="/logout" method="GET">
                    <button type="submit" class="signin">Logout</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="hero">
            <div class="leftsection">
                <div class="smallone">
                    Taste, Chill, Repeat
                </div>
                <div class="slogan">
                    Hi <%= name %>😊
                        <br>
                </div>
                <div class="des">
                    <p>Fuel your day with flavors that bring friends together, inspire relaxation, and add a dash of
                        campus spirit to every cup.</p>
                </div>
                <span id="element"></span>
                <div class="order">
                    <button onclick="window.location.href='#menu-section';" id="order">
                        Order now
                    </button>
                </div>
            </div>
            <div class="rightsection">
                <img width="800" src="/images/main.jpg" alt="Main_Image">
            </div>
        </div>
        <section class="about-section" id="about-section">
            <div class="about-content" id="abt-content">
                <div class="about-image">
                    <img src="/images/about.jpg" alt="Fresh Ingredients " id="about_img" width="400">
                </div>
                <div class="about-text">
                    <h4>About us</h4>
                    <h1>Global Delights: Tasty, affordable, cozy bites.</h1>
                    <p>Global Delights, our college café and canteen, serves tasty, affordable snacks and meals in a cozy
                        space, perfect for relaxing or studying with friends.</p>
                    <button class="explore-btn" id="explore" onclick="location.href='aboutus'">Learn More</button>
                </div>
            </div>
        </section>
        <div id="service"></div>
        <section class="services-section">
            <div class="services-header">
                <h4>Offering</h4>
                <h1>Our amazing services</h1>
            </div>
            <div class="services-container">
                <div class="service-card">
                    <img src="/images/plate.png" alt="">
                    <h2>Excellent food</h2>
                    <p>
                        We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.
                    </p>
                </div>
                <div class="service-card">
                    <img src="/images/fast.png" alt="Fast Food Icon">
                    <h2>Fast food</h2>
                    <p>
                        We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.
                    </p>
                </div>
                <div class="service-card">
                    <img src="/images/delivery.png" alt="Delivery Icon">
                    <h2>Delivery</h2>
                    <p>
                        We offer our clients excellent quality services for many years,
                        with the best and delicious food in the city.
                    </p>
                </div>
            </div>
        </section>
        <section class="menu-section" id="menu-section">
            <div class="menu">
                <h2>Top Rated Foods</h2>
                <div class="dishes">
                    <div class="dish1" onclick="location.href='menu'">
                        <div class="d1">
                            <img src="/images/tea.webp" alt="Tea_Pic" width="150" style="border-radius: 30%;">
                        </div>
                        <h4>Tea</h4>
                        <p>Tea: Comfort in every sip.</p>
                        <p>₹15</p>

                    </div>

                    <div class="dish2" onclick="location.href='menu'">
                        <div class="d1">
                            <img src="/images/coffee.avif" alt="" height="110" style="border-radius: 30%;">
                        </div>
                        <h4>Coffee</h4>
                        <p>Coffee: Energy in every sip.</p>
                        <p>₹15</p>

                    </div>
                    <div class="dish3" onclick="location.href='menu'">
                        <div class="d1">
                            <img src="/images/samosa.jpg" alt="" width="80" style="border-radius: 30px;">
                        </div>
                        <h4>Samosa</h4>
                        <p>Crunchy and flavorful</p>
                        <p>₹20</p>
                    </div>
                </div>
                <div class="explore">
                    <button onclick="location.href='menu'">Explore Menu</button>
                </div>
            </div>
        </section>
        <section class="contact-section" id="ctnt">
            <div class="contact-content">
                <div class="contact-text">
                    <h4>Let's talk</h4>
                    <h1>Contact us</h1>
                    <p>
                        If you want to reserve a table in our restaurant, contact us and we will
                        attend to you quickly, with our 24/7 chat service.
                    </p>
                </div>
                <div class="contact-button">
                    <button onclick="location.href='contactus'">Contact us now</button>
                </div>
            </div>
        </section>

    </main>
    <div class="hr"></div>
    <footer>
        <div class="footer">
            <div class="sub-footer">
                <h3>Global Delights</h3>
                <h4 style="color: rgb(150, 150, 150); margin-top: 0.6rem;">Cafe and Canteen</h4>
            </div>
            <div class="sub-footer">
                <h3>Services</h3>
                <ul>
                    <a href="">
                        <li>Order</li>
                    </a>
                    <a href="">
                        <li>Pricing</li>
                    </a>
                    <li>Fast Food</li>
                    <a href="">
                        <li>Reserve your spot</li>
                    </a>
                </ul>
            </div>
            <div class="sub-footer">
                <h3>Information</h3>
                <ul>
                    <a href="contactus">
                        <li>Contact us</li>
                    </a>
                    <a href="contactus">
                        <li>Terms of Services</li>
                    </a>
                </ul>
            </div>
            <div class="sub-footer">
                <h3>Address</h3>
                <ul>
                    <li>Lima-Peru</li>
                    <li>Jr Union #999</li>
                    <li>999-888-777</li>
                    <li>tastyfood@email.com</li>
                </ul>
            </div>
        </div>

    </footer>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['Brewed for You.', 'Sip and Relax.', 'Campus Vibes.', 'Taste the Moment.', 'Where Every Sip Inspires.'],
            typeSpeed: 50,
            loop: true
        });
    </script>
    <script src="/javascripts/script.js"></script>
</body>

</html>