<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Global Delights</title>
    <link rel="icon" href="/images/title.png" type="image/x-ico">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
    <main>
        <div class="container">
            <h1>Welcome to <span>GLOBAL DELIGHTS</span></h1>
            <p>Explore the best experiences considered just for you!</p>
            <div class="auth-buttons">
                <button class="signin btn" onclick="location.href='signup'">Sign Up</button>
                <button class="login btn" onclick="location.href='login'">Login</button>
                <button class="login btn" onclick="location.href='admin'">Admin</button>
            </div>
            
        </div>
    </main>
</body>

</html>
